
/*GENERAL RULE BEGINS*/
/*GENERAL RULE BEGINS*/


*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
height: 100%;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: no-repeat;
background-attachment: fixed;

}

body {
margin: 0;
padding: 0;
/*background-color: #ffffff;*/
/*background-color: red;*/
    width: 100%;
    background: rgba(246, 246, 243, 1);
}

a{
text-decoration: none;
}

a, a:visited, a:hover, a:active {
color: inherit;
}

/*top space*/
/*top space*/

 .top_space{
    height: 60px;
    height: 35px;
    width: 100%;
    background-color: inherit;
}

/*top space*/
/*top space*/
/*top space*/


/*footer begins*/
/*footer begins*/

footer{
    width: 98%;
    height: 250px;
/*    overflow:hidden;*/
    background-color: rgba(229, 229, 226, 0.9);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
/*    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.1);*/
/*    box-shadow: 4px 2px 5px -2px rgba(0,0,0,0.2);*/
    border-radius: 3px;
/*    box-shadow: 4px 3px 2px -2px rgba(0,0,0,0.2);*/
    margin: auto;
   
}

.copyright{
    text-align: center;
    color: rgba(87, 87, 87, 1);
    color: #004c4c;
    padding-top: 25px;
    font-family: 'Josefin Sans';
    font-size: 0.8em;
}


/*footer ends*/
/*footer ends*/
/*footer ends*/


/*GENERAL RULE ENDS*/
/*GENERAL RULE ENDS*/
/*GENERAL RULE ENDS*/





/*Header rules begin*/
/*Header rules begin*/

header{
    height: 60px;
    width: 100%;
    display: flex;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1000;
    top: 0;
}


.mask{
    height: 60px;
    width: 20%;
     margin-right: 1px;
}
.mask_end{
    height: 60px;
    width: 20%;
}




.ipad{
    height: 60px;
    width: 100%;
    border: none;
    background-color: rgba(246, 246, 243, 1);
     padding: 0;
}
.ipad_div{
    height: 80%;
    width: auto;
    background-image: url("img/ipad.png");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size:contain;
    background-position: center;
    border: none;
    background-color: inherit;
     padding: 0;
}
.ipad:hover {
    background-color: #000000;
}
.ipad_div:hover {
    background-color: #000000;
}




.watch{
     height: 60px;
    width: 100%;
    border: none;
    background-color: rgba(246, 246, 243, 1);
     padding: 0;
}
.watch_div{
     height: 85%;
    width: auto;
    background-image: url("img/watch.png");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size:contain;
    background-position: center;
    border: none;
     background-color: inherit;
     padding: 0;
}
.watch_div:hover {
    background-color: #000000;
}
.watch:hover {
    background-color: #000000;
}



.iphone{
     height: 60px;
    width: 100%;
    border: none;
    background-color: rgba(246, 246, 243, 1);
     padding: 0;
   
}
.iphone_div{
     height: 64%;
    width: auto;
    background-color: darkturquoise;
    background-color: darkcyan;
    background-image: url("img/iphone.png");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size:contain;
    background-position: center;
    border: none;
    background-color: inherit;
     padding: 0;
    
}
.iphone_div:hover {background-color: #000000;
}
.iphone:hover {background-color: #000000;
}





.macbook{
     height: 60px;
    width: 100%;
    border: none;
    background-color: rgba(246, 246, 243, 1);
     padding: 0;
}
.macbook_div{
     height: 55%;
    width: auto;
    background-image: url("img/pro.png");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size:contain;
    background-position: center;
    border: none;
    background-color: inherit;
     padding: 0;
}
.macbook_div:hover {background-color: #000000;
}
.macbook:hover {background-color: #000000;
}





.imac{
     height: 60px;
    width: 100%;
    border: none;
    background-color: rgba(246, 246, 243, 1);
    padding: 0;
}
.imac_div{
     height: 55%;
    width: auto;
    background-image: url("img/IMac_vector.svg.png");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size:contain;
    background-position: center;
    border: none;
    background-color: inherit;
     padding: 0;
}
.imac_div:hover {background-color: #000000;
}
.imac:hover {background-color: #000000;
}

/*Header rules end*/
/*Header rules end*/
/*Header rules end*/




main{
    height: ;
    width: 100%;
   
/*    max-width: 550px;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    
    background-image: url("img/blue-4145659_1920.jpg");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center; 
    
     background: rgba(246, 246, 243, 1);
}

.messageContainer{
    min-width: 320px;
    max-width: 100%;
    background: #ffffff;
/*    background-color: rgba(246, 246, 243, 1);*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(25px, auto);
    margin: auto;
    overflow: scroll;
    height: calc(100vh - 95px);
    height: calc(100vh - 35px);
    
    
    
/*    padding-top: 5px;*/
/*
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.01) 50%, rgba(2,0,36,1) 100%);
*/
    
/*        max-width: 550px;*/
/*    border-bottom: 1px solid red;*/

/*    grid-template-rows: 40px 1fr minmax(25px, auto);*/


/*    background: linear-gradient(to right, rgba(36, 11, 54, 0.9), rgba(195, 20, 50, 0.3), rgba(1, 31, 39, 0.2));*/

/*    background: linear-gradient(to right, rgba(246, 246, 243, 1),rgba(246, 246, 243, 0.1),  rgba(1, 31, 39, 0.0));*/
    
}

.messageOutputBox{
    color: #ffffff;
    overflow: auto;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
/*  text-shadow: 0 2px 0 rgba(110,133,156,0.18);*/
    
    
/*
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.01) 50%, rgba(2,0,36,1) 100%);
    
    background: linear-gradient(90deg, 
        rgba(255,255,255,1) 0%, 
        rgba(255,255,255,0.1) 20%,
        rgba(255,255,255,0) 50%, 
        rgba(255,255,255,0.1) 80%, 
        rgba(255,255,255,1) 100%);
    
background: linear-gradient(90deg, 
        rgba(2,0,36,1) 0%, 
        rgba(2,0,36,0.1) 20%,
        rgba(2,0,36,0) 50%, 
        rgba(2,0,36,0.1) 80%, 
        rgba(2,0,36,1) 100%);
*/
    

}



.iMBoxSender{
/*    background-color: inherit;*/
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.senderContainer{
    max-width: 80%;
    height: auto;
    padding: 1px;
    margin-bottom: 0;
    border-radius: 19px 19px 19px 19px; 
    z-index: 51;
    
    border: 1px solid rgba(246, 246, 243, 1);
    border-left: 10px solid rgba(246, 246, 243, 1);
    
    border: 1px solid limegreen;
    border-left: 4px solid limegreen;
    
    
    background: rgba(246, 246, 243, 1);
    background: #fff;
    
-webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.4);  
}


.chatMessages{
    padding: 4px 4px;
    padding-right: 7px;
    margin: 0;
    color: rgba(10, 60, 60, 1);
    letter-spacing: 0.1px;
    line-height: 20px;
    color: darkslategrey;
/*    color: #fff;*/
    font-size: 0.8em;
}

.senderMessageAttachments{
/*
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
*/
    height: 20px;
    width: 100%;
/*   background-color: rgba(125, 185, 185, 0.3);*/
    border-radius: 19px 0px 22px 19px;
    
    
    
    
    
    
    display: grid;
    grid-auto-flow: column;
}


.timeRightSender{
/*
    background-color: deeppink;
    border-radius: inherit;
    padding: 2px;
    font-size: 0.7em;
*/
    
    
    height: 100%;
    border-radius: 13px 0px 19px 13px;
    text-align: center;
    padding: 2px 5px;
    padding-top: 5px;
    margin-right: 3px;
    font-size: 0.6em;
    color: darkslategrey;
/*    background-color: rgba(125, 185, 185, 0.6);*/
    justify-self: end;
}


.senderMessageAttachments2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    background: ;
    border-radius: 19px 19px 19px 19px;
}

.timeRightSender2{
   justify-self: start;
    height: 100%;
    max-width: 100%;
}

.timeRightSender3{
    height: 100%;
    color: silver;
    padding: 2px 5px;
    padding-top: 4px;
    text-align: center;
    font-size: 0.7em;
    border-radius: 13px 13px 13px 13px;
}



.curveSender{
    height: 13px;
    width: 21px;
    background: yellowgreen;
    background: limegreen;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    border-radius: 0px 0px 25px 0px;
    left: 4px;
    z-index: 45;
    
}

.curve2Sender{
    background: rgba(2,0,36,1);
    background: #ffffff;
    height: inherit;
    width: 57%;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 11px 0px; 
/*To put curve2Sender on the outside
    height: 17px;
    width: 14px;
    background: inherit;
    position: absolute;
    border-radius: 0px 0px 13px 0px;
    z-index: 56;
    margin-bottom: 15px;
    left: 1px;
*/
}





.iMBoxSenderPicture{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 24px;
    padding-bottom: 22px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.senderContainerPicture{
    max-width: 80%;
    height: auto;
    padding: 5px;
    background-color: yellowgreen;
    margin-bottom: 0;
    border-radius: 19px 19px 19px 19px;
    color: #ffffff;
    z-index: 51;
    border: 1px solid darkturquoise;
    border: 1px solid darkcyan;
    border-left: 10px solid darkturquoise;
    border-left: 10px solid darkcyan;
    
    border: 1px solid limegreen;
    border-left: 4px solid limegreen;
    
    
    
    background: rgba(246, 246, 243, 1);
/*    background: #fff;*/
    
    
color: darkturquoise;
    
    
/*
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,95,104,1) 0%, rgba(15,156,168,1) 90% );
    
    
background-image: linear-gradient( 69.8deg,  rgba(25,49,108,1) 2.8%, rgba(1,179,201,1) 97.8% );
    
background-image: radial-gradient( circle farthest-corner at 85.4% 50.8%,  rgba(14,72,222,1) 0%, rgba(3,22,65,1) 74.2% );
*/
    
    -webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.4);
}

.SenderPictureBox{
    height: 25px;
    width: 25px;
    background: ;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    left: 3px;
    margin: 2px;
    z-index: 71;
}

.SenderPictureBox:hover{
    height: 55px;
    width: 55px;
    background: ;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 3px;
    margin: 2px;
}

.senderPictureBox2{
    height: 25px;
    width: 25px;
    background-color: ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
        
-webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.8);
}
.senderPictureBox2:hover{
    min-height: 55px;
    min-width: 55px;
    background-color: ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.senderPictureBox3{
    min-height: inherit;
    min-width: inherit;
    max-width: 40px;
    max-height: 40px;
    background-color: ;
    position: absolute;
    margin: auto;
}

.senderPictureBox3:hover{
    min-height: 55px;
    min-width: 55px;
    max-width: 70px;
    max-height: 70px;
}











.iMBoxReceiver{
/*    background: #ffffff;*/
    height: auto;
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
    margin-right: 2px;
    padding-right: 15px;
/*    padding-right: 24px;*/
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.receiverContainer{
    max-width: 80%;
    height: auto;
    padding: 5px;
    background: rgba(121, 121, 121, 0.2);
    background-color: #eee;
    border-radius: 0px 7px 7px 0px;
    z-index: 51;
    border-radius: 19px;
/*    border: 2px solid darkcyan;*/
/*    border-right: 3px solid darkcyan;*/
    border-right: 10px solid rgba(246, 246, 243, 1);
    border-right: 10px solid #eee;
/*    background: rgba(246, 246, 243, 1);*/
    
/*
    -webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
    box-shadow: -10px 9px 8px -8px rgba(0,0,0,0.4);
*/
}

.chatMessagesReceiver{
    padding: 4px 4px;
    padding-left: 7px;
    margin: 0;
    color: rgba(10, 60, 60, 1);
    letter-spacing: 0.1px;
    line-height: 20px;
    color: darkslategrey;
/*    color: #fff;*/
    font-size: 0.8em;
}

.receiverMessageAttachments{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.timeRightReceiver{
    border-radius: 0px 13px 13px 13px;
    text-align: center;
    padding: 2px;
    padding-top: 4px;
    margin-left: 8px;
    font-size: 0.7em;
    color: silver;
    color: darkslategrey;
/*    background-color: rgba(125, 185, 185, 0.3);*/
    justify-self: start;
}

.receiverMessageAttachments2{
    justify-self: end;
    height: 100%;
    max-width: 100%;
}

.timeRightreceiver2{
    height: 100%;
    background-color: rgba(125, 185, 185, 0.7);
    border-radius: inherit;
    margin-left: 5px;
    border-radius: 19px 19px 19px 19px;*/
}
.timeRightreceiver3{
    height: 100%;
    color: silver;
    padding: 2px 5px;
    text-align: center;
    font-size: 0.7em;
    border-radius: 13px 13px 13px 13px;
}



.curveReceiver{
/*
    height: 17px;
    width: 24px;
    background: rgba(246, 246, 243, 1);
    background: #eee;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    border-radius: 0px 0px 0px 25px;
    right: 10px;
*/

    height: 13px;
    width: 21px;
    background: rgba(246, 246, 243, 1);
    background: #eee;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    border-radius: 0px 0px 0px 25px;
    right: 3px;
}

.curve2Receiver{
    height: inherit;
    width: 58%;
/*    background: rgba(2,0,36,1);*/
    background: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 0px 13px;
}







.iMBoxReceiverPicture{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 2px;
    padding-right: 24px;
    padding-bottom: 22px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.receiverContainerPicture{
    max-width: 80%;
    height: auto;
    padding: 5px;
    background-color: #eee;
    border-radius: 0px 10px 10px 0px;
    border-radius: 19px;
    border-right: 10px solid #eee;
/*    background: rgba(246, 246, 243, 0.4);*/
    z-index: 51;
/*
    -webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
    box-shadow: -10px 9px 8px -8px rgba(0,0,0,0.3);
*/
}

.circleReceiver1{
    height: 25px;
    width: 25px;
    background: ;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 3px;
    margin: 2px;
    z-index: 52;
}

.circleReceiver1:hover{
    height: 55px;
    width: 55px;
    background: ;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 3px;
    margin: 2px;
}

.senderPictureBoxReceiver{
    height: 25px;
    width: 25px;
    background-color:;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    -webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.8);
}
.senderPictureBoxReceiver:hover{
    height: 55px;
    width: 55px;
    background-color: ;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.senderPictureReceiver{
    min-height: inherit;
    min-width: inherit;
    max-width: 40px;
    max-height: 40px;
    background-color: ;
    position: absolute;
    margin: auto; 
}

.senderPictureReceiver:hover{
    min-height: 55px;
    min-width: 55px;
    max-width: 70px;
    max-height: 70px;
}


/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/


.messageInputBox{
    max-height: 250px;
    width: 100%;
    background: rgba(246, 246, 243, 0);
    z-index: 1001;
/*    border-radius: 20px 20px 0px 0px;*/
     background: rgba(238, 238, 238, 1);
}


.testing {
/*    border-radius: 10px 10px 0px 0px;*/
    width: 100%;
    max-height: 245px;
    border: none;
    outline: none;
    display:flex;
    flex-direction: column;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: rgba(246, 246, 243, 1);
    background: rgba(14,14,24,0.6);
    background: rgba(238, 238, 238, 1);
}
.testing1 {
    
    width: 100%;
/*    min-width: 570px;*/
    background-color: #eee;
    background: rgba(14,14,24,0.5);
    background: rgba(216, 216, 213, 1);
    background: rgba(226, 226, 223, 1);
    min-height: 30px;
    max-height: 210px;
    overflow: auto;
    padding: 5px 10px;
/*    border-radius: 7px 7px 0px 0px;*/
    border-radius: 5px;
    outline: none;
/*    border: 1px solid darkslategrey;*/
    color: darkslategrey;
/*    color: #fff;*/
    font-size: 0.8em;
    word-wrap: break-word;
    line-height: 19px;
   
    
}
.testing3{
    height: 30px;
    width: 100%;
    margin: auto;
    background-color: #eee;
    background: rgba(12, 12, 21, 0);
/*   background-color: black;*/
    border-radius: 0px 0px 7px 7px;
/*    border-radius: 50%;*/
    margin-top:2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    z-index: 2000;
}

.buttons{
    height: 25px;
    width: 25px;
    background-color: darkcyan;
    background-color: limegreen;
    
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,95,104,1) 0%, rgba(15,156,168,1) 90% );
    
    
    
    
/*    background-image: linear-gradient(to right top, #1c64c2, #625bc0, #8c4eb5, #ae3da4, #c7288c, #c940a5, #c855be, #c468d5, #7f9bff, #00c4ff, #00e3ff, #5ffbf1);*/
    
    
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    
    
    
/*    background-color: #000;*/
    font-size: 1.3em;
    color: #ffffff;
    border: none;
    border: 3px solid rgba(246, 246, 243, 1);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
    padding: 0;
}











.contactMessageList{
    height: calc(100vh - 0px);
    min-width: 275px;
    width: 100%;
    max-width: 550px;
    padding-left: 5px;
    padding-right: 5px;
/*    border-radius: 10px;*/
    background: rgba(246, 246, 243, 1);
/*    background-color: maroon;*/
/*    background-color: black;*/
    overflow: auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: auto;
/*    margin-top: 15px;*/
/*    margin-bottom: 20px;*/
    
    

/*
    background-image: url("img/new-york-city-801867_1920.jpg");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
*/
    
    
/*    border: none;*/
/*    background-color: inherit;*/
/*     padding: 0;*/
    
    
}

.contactMessageListItem{
    height: 50px;
/*    width: 100%;*/
/*
    margin-left: 5px;
    margin-right: 5px;
*/
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff;
}

.contactMessageListItemTest{
    height: 50px;
    border-radius: 19px;
    margin: 5px;
    background-color: #ffffff;
}



.chatboxWrap{
    height: ;
    width: 100%;
/*    background-color: red;*/
    margin: auto;
/*    border-radius: 10px;*/
/*    position: relative;*/
/*    z-index: 102;  */
/*    padding: 5px 5px 5px 5px;*/
    display: flex;
    flex-direction: column;
/*    margin-bottom: 10px;*/
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 20px -2px rgba(50,50,50,0.2);
    -moz-box-shadow: 1px 1px 20px -2px rgba(50,50,50,0.2);
    box-shadow: 1px 1px 20px -2px rgba(50,50,50,0.1);
/*    border-bottom: 0.5px solid cyan;*/
    
/*    background: orange;*/
}

.chatbox{
    height: 80px;
    width: 100%;
/*    background-color: red;*/
    margin: auto;
    border-radius: 10px;
/*    position: relative;*/
/*    z-index: 102;  */
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
/*    margin-top: 0px;  */
/*    border-bottom: 1px solid red;*/
    background-color: rgba(246, 246, 243, 0.2);
    
    -webkit-box-shadow: 1px 1px 20px -2px rgba(50,50,50,0.2);
    -moz-box-shadow: 1px 1px 20px -2px rgba(50,50,50,0.2);
    box-shadow: 10px 1px 20px -2px rgba(50,50,50,0.2);
    
/*
    -webkit-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
-moz-box-shadow: 10px 9px 8px -8px rgba(0,0,0,0.6);
box-shadow: 10px 9px 8px -10px rgba(1,240,250,0.2);
*/
    

}


.chatboxTextContainer{
    height: 70px;
/*    max-width: calc(100% - 75px);*/
    width: 100%;

    margin: auto;
    margin-right: 5px;
/*    border-radius: 15px 15px 15px 15px;*/
/*   position: absolute;*/
    z-index: 99;
/*    right: 5%;*/
    
    border-radius: 10px;
 
/*
    background: linear-gradient(to right, rgba(36, 11, 54, 1), rgba(195, 20, 50, 0.3)); 

    
    background: linear-gradient(to right, rgba(36, 11, 54, 1) 30%, rgba(195, 20, 50, 0.9) 55%, rgba(195, 20, 50, 0.1) 85%);
*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
/*    background: rgba(246, 246, 243, 0.6);*/
/*    background: inherit;*/
/*    background: red;*/
/*    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);*/
    
}
.chatboxNameTime{
    height: 24px;
    width: 100%;
/*    background: rgba(255, 255, 255, 0.9);*/
/*    background-color: red;*/
/*    background-color: rgba(1, 31, 39, 0.6);*/
/*    background: rgba(246, 246, 243, 1);*/
    margin: auto;
    border-radius: 5px 5px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px 0px;
    
/*    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 15%, rgba(224, 224, 224,0.6) 70%, rgba(246, 246, 243, 0.1) 100%);*/
    
    
    background: linear-gradient(90deg, rgba(246, 246, 243, 1) 15%, rgba(246, 246, 243, 0.8) 70%, rgba(246, 246, 243, 0.1) 100%);
    
        box-shadow: 10px 1px 20px -2px rgba(50,50,50,0.2);
    
/*    border-radius: 10px;*/
    
    
    
/*     background: linear-gradient(to right, rgba(36, 11, 54, 1) 30%, rgba(195, 20, 50, 0.9) 65%, rgba(195, 20, 50, 0.1) 90%, rgba(246, 246, 243, 0.1) 100%);*/
    
/*    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(10, 10, 10, 0.1) 50%, rgba(246, 246, 243, 0.1) 100%);*/
    
/*         background: linear-gradient(to right, rgba(36, 11, 54, 1), rgba(195, 20, 50, 0.3), rgba(1, 31, 39, 0.2)); */
}
.chatboxName{
    height: 100%;
    max-width: 70%;
/*    background-color: rgba(255, 255, 255, 0.7);*/
/*    background-color: palegreen;*/
/*    align-self: flex-start;*/
    border-radius: inherit;
    
    padding: 2px 20px 0px 5px;
    
/*        background: rgba(1, 31, 39, 0.3);*/
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 0.7em;
    color: rgba(1, 31, 39, 1);
/*    color: #ffffff;*/
    color: #000000;
    line-height: 17px;
    
}
.chatboxTime{
    height: 100%;
    max-width: 30%;
/*    background-color: rgba(1, 31, 39, 0.1);*/
/*    background-color: tomato;*/
/*    align-self: flex-end;*/
/*    border-radius: 15px 15px 15px 15px;*/
     padding: 2px 5px;
    
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 0.7em;
    color: rgba(1, 31, 39, 1);
    color: rgba(97, 97, 97, 0.7);
    color: silver;
    color: rgba(125, 125, 125, 1);
/*    color: slategray;*/
/*    color: lawngreen;*/
/*    color: forestgreen;*/
/*    color: lightgreen;*/
/*    color: white;*/
    line-height: 17px;
    margin-left: 5px;
}
.chatboxWord{
/*
    line-height: 10px;
    font-size: 0.7em;
    color: #fff;
*/   
}

.chatboxLine{
/*
    height: 0.5px;
    width: 50%;
    background-color: rgba(1, 31, 39, 1);
    background-color: #000000;
    background-color: #fff;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 2px;
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
    
     -webkit-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
*/
    
    
    
    
    height: 0.5px;
    width: 50%;
    background-color: rgba(1, 31, 39, 1);
    background-color: #000000;
    background-color: #fff;
    margin: auto;
/*    border-radius: 15px 15px 15px 15px;*/
/*
    margin-top: 1px;
    margin-bottom: 1px;
*/
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
    
     -webkit-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
}

.chatboxLine2{
    height: 1px;
    width: 80%;
/*    background-color: rgba(1, 31, 39, 0.4);*/
/*    background-color: #000000;*/
/*    background-color: #fff;*/
/*    background-color: #ffffff;*/
    background: #ddd;
/*    background: #000;*/
    margin: auto;
/*    border-radius: 15px 15px 15px 15px;*/
    margin-top: 4px;
    margin-bottom: 2px;

    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
    
     -webkit-box-shadow: 1px 1px 25px 4px rgba(6,4,75,0.2);
-moz-box-shadow: 1px 1px 25px 4px rgba(6,4,75,0.2);
box-shadow: 1px 1px 25px 4px rgba(246, 246, 243, 0.8);
}

.chatboxSummary{
    height: 39px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: inherit;
    border-radius: 0px 0px 10px 10px;
/*    background-color: silver;*/
    margin: auto;
    
/*    margin-top: 5px;*/
/*    border-radius: 0px 0px 15px 15px;*/
    overflow: scroll;
/*    overflow: visible;*/
     padding: 3px 5px;
/*   position: absolute;*/
/*    z-index: 100;*/
/*    right: 2.5%;*/
    
/*    background: linear-gradient(to right, rgba(36, 11, 54, 1) 30%, rgba(195, 20, 50, 0.9) 65%, rgba(195, 20, 50, 0.1) 85%);*/
    
/*    background: rgba(1, 31, 39, 0.3);*/
    text-align: left;
    font-family: 'Josefin Slab';
/*    font-family: 'Montserrat';*/
    font-family: 'Raleway';
    font-family: 'Quicksand';
    font-size: 0.7em;
    letter-spacing: 0.04em;
    color: rgba(1, 31, 39, 1);
    color: darkslategray;
    line-height: 17px;
    background-color: rgba(246, 246, 243, 1);
/*    padding: 5px;*/
    
/*     background: linear-gradient(to right, rgba(36, 11, 54, 1), rgba(195, 20, 50, 0.3), rgba(1, 31, 39, 0.2)); */
}






.chatboxPictureContainer{
    height: 50px;
/*    width: 40%;*/
    width: 50px;
/*
    background-color: rgba(255, 255, 255, 1);
    background-color: skyblue;
*/
    border-radius: 10px;
/*        border-radius: 0px 10px 10px 0px;*/
    border-radius: 50%;
    border: none;
/*    position: absolute;*/
    z-index: 98;  
    right: 2.5%;
  
/*    margin-top: 4px;*/
    background-color: deeppink;
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
}
.chatboxPictureBox{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 1);
    background-color: skyblue;
    border-radius: inherit;
/*       border-radius: 50%;*/
    border: none;
/*    border-radius: 50%;*/
    position: relative;
    z-index: 98;  
/*    right: 2.5%;*/
    overflow: hidden;
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.9);
}
.chatboxSenderPicture{
    height: ;
    max-width:100% ;
    background-color: black;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
/*
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
*/
    margin: auto;


/*    border-radius: 50%;*/
/*    background-image: url(img/Uchem.jpeg);*/
/*
    image-resolution: from-image;
	background-repeat: no-repeat;
	background-size: cover;
*/
   
}



.chatbox3{
    height: 80px;
    width: 100%;
/*    background-color: red;*/
    margin: auto;
    border-radius: 10px;
/*    position: relative;*/
/*    z-index: 102;  */
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    
    background-color: rgba(246, 246, 243, 0.2);
/*    background-color: #fff;*/
   
   -webkit-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.2);
box-shadow: 1px 1px 25px 4px rgba(50,50,50,0.2);
    
   
}


.chatboxTextContainer3{
    height: 70px;
    max-width: calc(100% - 75px);
    width: 100%;
    margin: auto;
    margin-right: 5px;
/*    border-radius: 15px 15px 15px 15px;*/
/*   position: absolute;*/
    z-index: 99;
/*    right: 5%;*/
    
    border-radius: 10px;
 
/*
    background: linear-gradient(to right, rgba(36, 11, 54, 1), rgba(195, 20, 50, 0.3)); 

    
    background: linear-gradient(to right, rgba(36, 11, 54, 1) 30%, rgba(195, 20, 50, 0.9) 55%, rgba(195, 20, 50, 0.1) 85%);
*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    background: rgba(246, 246, 243, 1);
    background: inherit;
/*    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);*/
    
}
.chatboxNameTime3{
    height: 20px;
    width: 100%;
/*    background: rgba(255, 255, 255, 0.9);*/
/*    background-color: red;*/
/*    background-color: rgba(1, 31, 39, 0.9);*/
/*    background: rgba(246, 246, 243, 1);*/
    margin: auto;
    border-radius: 5px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    
/*    border-radius: 10px;*/
    
    
    
     background: linear-gradient(to right, rgba(36, 11, 54, 1) 30%, rgba(195, 20, 50, 0.9) 65%, rgba(195, 20, 50, 0.1) 90%, rgba(246, 246, 243, 0.1) 100%);
    
    background: linear-gradient(90deg, #000851 15%, #1CB5E0 70%, rgba(246, 246, 243, 0.1) 100%);
    
    
    background: linear-gradient(90deg, darkcyan 15%, silver 70%, rgba(246, 246, 243, 0.1) 100%);
    
        box-shadow: 10px 1px 20px -2px rgba(50,50,50,0.2);
    
/*         background: linear-gradient(to right, rgba(36, 11, 54, 1), rgba(195, 20, 50, 0.3), rgba(1, 31, 39, 0.2)); */
}
.chatboxName3{
    height: 100%;
    max-width: 70%;
/*    background-color: rgba(255, 255, 255, 0.7);*/
/*    background-color: palegreen;*/
/*    align-self: flex-start;*/
    border-radius: inherit;
    padding: 2px 20px 0px 5px;
    
        background: rgba(1, 31, 39, 0.3);
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 0.7em;
    color: rgba(1, 31, 39, 1);
    color: #ffffff;
    line-height: 17px;
    
}
.chatboxTime3{
    height: 100%;
    max-width: 30%;
/*    background-color: rgba(1, 31, 39, 0.1);*/
/*    background-color: tomato;*/
/*    align-self: flex-end;*/
/*    border-radius: 15px 15px 15px 15px;*/
     padding: 2px 5px;
    
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 0.7em;
    color: rgba(1, 31, 39, 1);
    color: #ddd;
    line-height: 17px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.chatboxNotification{
/*height: 20px;*/
/*width: 20px;*/
padding-top: 1px;
margin-left: 3px;
background-color: rgba(246, 246, 243, 0);
}
.chatboxNotification2{
height: 12px;
width: 12px;
text-align: center;
background-color: red;
border-radius: 50%;
color: rgba(0, 0, 200, 1);
color: #ffffff;
font-size: 0.9em;
font-family: 'Josefin Slab';
/*     background-color: lawngreen;*/
/*position:absolute;*/
    padding-top: 1px;
/*padding: 0px 0px 8px 0px;*/
    line-height: 12px;

}
.chatboxNotification2:hover{
height: 15px;
width: 15px;
/*    padding-top: 3px;*/
font-size: 1em;
text-align: center;
    line-height: 15px;
/*border: 1px solid #000000;*/
/*     background-color: orangered;*/
}




.chatboxWord3{
/*
    line-height: 10px;
    font-size: 0.7em;
    color: #fff;
*/   
}

.chatboxLine3{
    height: 0.5px;
    width: 50%;
    background-color: rgba(1, 31, 39, 1);
    background-color: #000000;
    background-color: #fff;
    margin: auto;
/*    border-radius: 15px 15px 15px 15px;*/
    margin-top: 1px;
    margin-bottom: 1px;
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
    
     -webkit-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
box-shadow: 1px 1px 25px 4px rgba(0,0,0,0.33);
}

.chatboxSummary3{
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: inherit;

/*    background-color: silver;*/
    margin: auto;
    
/*    margin-top: 5px;*/
    border-radius: 0px 0px 10px 10px;
    overflow: scroll;
/*    overflow: visible;*/
     padding: 3px 5px;
/*   position: absolute;*/
/*    z-index: 100;*/
/*    right: 2.5%;*/
    
/*    background: linear-gradient(to right, rgba(36, 11, 54, 1) 30%, rgba(195, 20, 50, 0.9) 65%, rgba(195, 20, 50, 0.1) 85%);*/
    
/*    background: rgba(1, 31, 39, 0.3);*/
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 0.7em;
    color: rgba(1, 31, 39, 1);
    line-height: 17px;
    background-color: rgba(246, 246, 243, 1);
/*    padding: 5px;*/
    
/*     background: linear-gradient(to right, rgba(36, 11, 54, 1), rgba(195, 20, 50, 0.3), rgba(1, 31, 39, 0.2)); */
}






.chatboxPictureContainer3{
    height: 70px;
/*    width: 40%;*/
    width: 70px;
/*
    background-color: rgba(255, 255, 255, 1);
    background-color: skyblue;
*/
    border-radius: 10px;
/*        border-radius: 0px 10px 10px 0px;*/
    border-radius: 50%;
    border: none;
/*    position: absolute;*/
    z-index: 98;  
    right: 2.5%;
  
/*    margin-top: 4px;*/
    background-color: deeppink;
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
}
.chatboxPictureBox3{
    height: 70px;
    width: 70px;
    background-color: rgba(255, 255, 255, 1);
    background-color: skyblue;
    border-radius: inherit;
/*       border-radius: 50%;*/
    border: none;
/*    border-radius: 50%;*/
    position: relative;
    z-index: 98;  
/*    right: 2.5%;*/
    overflow: hidden;
    
    box-shadow: 1px 3px 4px rgba(0,0,0,0.9);
}
.chatboxSenderPicture3{
    height: ;
    max-width:100% ;
    background-color: black;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
/*
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
*/
    margin: auto;


/*    border-radius: 50%;*/
/*    background-image: url(img/Uchem.jpeg);*/
/*
    image-resolution: from-image;
	background-repeat: no-repeat;
	background-size: cover;
*/
   
}


/*div message box end*/
/*div message box end*/
/*div message box end*/
/*div message box end*/

/*style for expanding input textarea for message*/
/*style for expanding input textarea for message*/
/*style for expanding input textarea for message*/
textarea {
    color: #444;
    padding: 5px;
}

.txtstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
    width: 80px;
    min-height: 30px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}
/*style for expanding input textarea for message*/
/*style for expanding input textarea for message*/
/*style for expanding input textarea for message*/




/*bottom navigation begins*/
/*bottom navigation begins*/
/*bottom navigation begins*/
/*bottom navigation begins*/
.under_nav{
/*
    z-index: 2;
position: fixed;
*/
/*bottom: 0;*/
width:100%;
max-width: 1024px;
height: 100%;
z-index: 2;
/*    background-color: hotpink;*/

/*    border-bottom: 1px ridge #000;*/
/*    box-shadow: 0 3px 30px 0 rgba(9, 9, 9, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.4);
display: grid;
    grid-column-gap: 1px;
    grid-template-columns: 90px repeat(4, 1fr);
    grid-template-rows: 100%;

    margin: auto;
/*    opacity: 0.9;*/
/*    border-radius: 5px;*/

/*background-color:rgba(246, 246, 243, 0.1);*/


/*
justify-content: center;
align-items: center;
*/
}

.bottom_nav_balance{
/*    position: fixed;*/
width: 100%;
height: 35px;
/*        margin: auto;*/
display: flex;
justify-content: center;
/*    background-color: rgba(0, 0, 51, 1);*/
      z-index: 1050;
position: fixed;
    bottom: 0;
/*    top: 0;*/
}

a.bottom_menu_logo{
height: 100%;
width: 90px;
background-color: rgba(246, 246, 243, 1);
/*     background-color: rgba(0, 0, 51, 1);*/
/*margin-right: 1px;*/
padding-top: 5px;
text-align: center;
font-size: 1.1em;
font-weight: bold;
letter-spacing: 1px;
color: #000000;
font-family: 'Work Sans';
font-family: 'Nothing You Could Do';
/*    border-radius: 4px 0px 0px 0px;  */
}

.logo_color{
color: darkcyan;
}

.bottom_menu_logo:hover {
color: #000000;
background-color: rgba(246, 246, 243, 1);
}

.bottom_menu_saved{
height: 100%;
/*width: 25%;*/
background-color: rgba(246, 246, 243, 1);
padding-top: 2px;
/*margin-right: 1px;*/
text-align: center;
font-size: 0.7em;
color: rgba(87, 87, 87, 1);
font-family: 'Gruppo';
}

.bottom_menu_saved:hover {
background-color: #000000;
color: rgba(246, 246, 243, 1);
}

.saved_favorite{
display: flex;
flex-direction: row;
justify-content: center;
height: 100%;
/*    max-width: 50px;*/
background-color: inherit;
margin: auto;
}
.saved_fav_1{
height: 100%;
width: ;
background-color: inherit;
padding-top: 10px;
}
.saved_fav_2{
height: 100%;
padding-top: 3px;
margin-left: -1px;
background-color: rgba(246, 246, 243, 0);
}
.saved_fav_3{
height: 13px;
width: 13px;
text-align: center;
background-color: red;
border-radius: 50%;
color: rgba(0, 0, 200, 1);
color: #ffffff;
/*padding: 2px 0px 0px 0px;*/
font-size: 0.7em;
font-family: 'Josefin Slab';
font-family: 'Quicksand';
position:absolute;
line-height: 13px;
}
.saved_fav_3:hover{
height: 15px;
width: 15px;
/*    padding-top: 3px;*/
font-size: 1em;
text-align: center;
border: 1px solid #000000;
line-height: 15px;
}



.bottom_menu_account{
height: 100%;
/*width: 25%;*/
background-color: rgba(246, 246, 243, 1);
/*margin-right: 1px;*/
padding-top: 11px;
text-align: center;
font-size: 0.7em;
color: rgba(87, 87, 87, 1);
font-family: 'Gruppo';
}

.bottom_menu_sign{

}
.bottom_menu_sign:hover{
color: rgba(255, 228, 181, 1);
text-decoration: underline;

}
.bottom_menu_sign1{
color: coral;
}
.bottom_menu_sign1:hover{
color: rgba(255, 228, 181, 1);
text-decoration: underline;

}

.bottom_menu_account:hover {
background-color: #000000;
color: rgba(246, 246, 243, 1);
}

.bottom_menu_messages{
height: 100%;
/*width: 25%;*/
background-color: rgba(246, 246, 243, 1);
padding-top: 2px;
text-align: center;
font-size: 0.7em;
/*margin-right: 1px;*/
color: rgba(87, 87, 87, 1);
font-family: 'Gruppo';
}

.bottom_menu_messages:hover {
background-color: #000000;
color: rgba(246, 246, 243, 1);
}
.bottom_menu_cart{
height: 100%;
/*width: 25%;*/
background-color: rgba(246, 246, 243, 1);
padding-top: 2px;
text-align: center;
font-size: 0.7em;
color: rgba(87, 87, 87, 1);
font-family: 'Gruppo';
/*    margin-right: 1px;*/
/*    border-radius: 0px 5px 0px 0px;*/
}
.bottom_menu_cart:hover {
background-color: #000000;
color: rgba(246, 246, 243, 1);
}

.saved_cart{
display: flex;
flex-direction: row;
height: 100%;
/*    max-width: 50px;*/
background-color: inherit;
margin: auto;
/*    background-color: cadetblue;*/
justify-content: center;
}
.saved_cart_1{
height: 100%;
width: ;
background-color: inherit;
padding-top: 10px;
/*     background-color: mediumvioletred;*/
}
.saved_cart_2{
height: 35px;
padding-top: 3px;
margin-left: -1px;
background-color: rgba(246, 246, 243, 0);
/*     background-color: yellow;*/
}
.saved_cart_3{
height: 13px;
width: 13px;
text-align: center;
background-color: red;
border-radius: 50%;
color: rgba(0, 0, 200, 1);
color: #ffffff;
/*padding: 2px 0px 0px 1px;*/
font-size: 0.8em;
font-family: 'Josefin Slab';
line-height: 13px;
/*     background-color: lawngreen;*/
position:absolute;
/*    padding: auto;*/


}
.saved_cart_3:hover{
height: 15px;
width: 15px;
/*    padding-top: 3px;*/
font-size: 1em;
text-align: center;
border: 1px solid #000000;
line-height: 15px;
/*     background-color: orangered;*/
}



/*BOTTOM NAVIGATION END*/
/*BOTTOM NAVIGATION END*/
/*BOTTOM NAVIGATION END*/
/*BOTTOM NAVIGATION END*/
/*BOTTOM NAVIGATION END*/




@media screen and (min-width: 374px) {
    
/*
    .main{
        max-width: 375px;
    }
    .messageContainer{
        max-width: 375px;
    }
*/
    .testing{
        max-width: 375px;
    }

}



@media screen and (min-width: 413px) {
.testing{
        max-width: 414px;
    }
}

@media screen and (min-width: 437px) {
.testing{
        max-width: 438px;
    }
}

@media screen and (min-width: 506px) {
.testing{
        max-width: 507px;
    }
}

@media screen and (min-width: 666px) {

    
/*
    .mainWrapper{
    display: flex;
        flex-direction: column;
    
    
}
*/
    .testing{
        max-width: 667px;
    }
    
    main{
    
    background-color: rgba(246, 246, 243, 1);
    height: calc(100vh - 95px);
    width: 100%;
/*    max-width: 550px;*/
    margin: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
/*        margin-bottom: 10px;*/
        
        
/*
      background-image: url("img/blue-4145659_1920.jpg");
	image-resolution: from-image;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;  
*/
        
   

        
        
}
    
    .contactMessageList{
        height: calc(100vh - 100px);
        
    }
    
        .contactMessageList{
/*        height: calc(100vh - 100px);*/
        height: calc(100vh - 0px);
        min-width: 275px;
        max-width: 450px;
/*
        margin-left: 5px;
        margin-right: 5px;
*/
        border-radius: 5px;
        background: rgba(246, 246, 243, 1);
/*        background: red;*/
        overflow: auto;
        padding: 5px;
        padding-top: 5px;
        margin-top: 0px;
    }

}

@media screen and (min-width: 693px) {
.testing{
        max-width: 694px;
    }
}

@media screen and (min-width: 735px) {
.testing{
        max-width: 736px;
    }
}

@media screen and (min-width: 767px) {
.testing{
        max-width: 768px;
    }
}

@media screen and (min-width: 1023px) {
.testing{
        max-width: 1024px;
    }
}


/*
@media screen and (min-height: 370px) {
    .contactMessageList{
        height: calc(100vh - 100px);
        min-width: 275px;
        max-width: 700px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: whitesmoke;
        overflow: auto;
        padding: 5px;
        padding-top: 0px;
        margin-top: 0px;
    }
}

@media screen and (min-height: 500px) {
    .contactMessageList{
        height: calc(100vh - 100px);
        min-width: 275px;
        max-width: 700px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: whitesmoke;
        overflow: auto;
        padding: 5px;
        padding-top: 0px;
        margin-top: 35px;
    }
}
*/





